{% extends 'base.html' %}

{% block head %}
    {% load static %}
    <script src="{% static 'js/chartjs.min.js' %}"></script>
    <script>
        function makeChart(data, id) {
            var ctx = document.getElementById(id);
            var class_names = [];
            var scores = [];
            for (var i = 0; i < data.length; i++) {
                class_names.push(data[i][0]);
                scores.push(data[i][1]);
            }
            var chart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: class_names,
                    datasets: [
                        {
                            data: scores,
                            backgroundColor: [
                                "#0000FF",
                                "#8A2BE2",
                                "#A52A2A",
                                "#DEB887",
                                "#5F9EA0",
                                "#7FFF00",
                                "#D2691E",
                                "#FF7F50",
                                "#6495ED",
                                "#FFF8DC",
                                "#DC143C",
                                "#00FFFF",
                                "#00008B",
                                "#008B8B",
                                "#B8860B",
                                "#006400",
                                "#8B008B",
                                "#00BFFF",
                                "#FF1493",
                                "#ADFF2F"

                            ],
                        }
                    ]
                },
                options: {}
            });
        }
    </script>
{% endblock %}


{% block content %}
    {% for item in news %}
        <div class="row">
            <div class="col col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="collapse-toggle" data-toggle="collapse" href="#collapse{{ forloop.counter0 }}" aria-expanded="false" aria-controls="collapseExample{{ forloop.counter0 }}">
                                {{ item.content }}: {{ item.category }}
                                <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                            </a>
                        </h4>
                    </div>
                    <div id="collapse{{ forloop.counter0 }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col col-md-6">
                                    <h5> SVM Results </h5>
                                    <canvas id="svm_{{ forloop.counter0 }}"></canvas>
                                </div>
                                <div class="col col-md-6">
                                    <h5> Naive Bayes Results </h5>
                                    <canvas id="naive_bayes_{{ forloop.counter0 }}"></canvas>
                                </div>
                                <script>
                                    makeChart({{ item.scores_svm|safe }}, "svm_{{ forloop.counter0 }}");
                                    makeChart({{ item.scores_nb|safe }}, "naive_bayes_{{ forloop.counter0 }}");
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}