{% extends 'base.html' %}

{% block content %}
    <div class="starter-template">
        <h1>Machine Learning Project</h1>
        <p class="lead">This project analyzes 20 News Groups dataset and runs Clustering and Classification Algorithms.</p>
    </div>
    <div align="center">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Net Id</th>
                <th>University Id</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td> Jay Dharmendra Solanki</td>
                <td>jds797</td>
                <td>N15524354</td>
            </tr>
            <tr>
                <td>Ganapathy Seshadri Cadungude Aiyer</td>
                <td>gsa277</td>
                <td>N12378423</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}